**/bundle
**/coverage
**/dist
**/.git
**/node_modules
.docker
.DS_Store
.env
.jiminy/
.idea
.integration-tests/
*.iml
*.tsbuildinfo
*.vsix
bower_components
eslint.config.js
**/generated
gha-creds-*.json
junit.xml
.jiminy-linters/
Thumbs.db
.pytest_cache
**/SKILL.md
packages/sdk/test-data/*.json
